<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>dilmuss</title>
</head>
<body >
    <div class="container">
        <img src="static/i.webp" alt="Italian Trulli">
        <div class="text-container">
            <h1>Dilmuss.uzz</h1>
            <h3>AYOLLAR KIYIM DO'KONI</h3>
            <h3>ADRESS: ChILONZOR 16-MAVZE 1A <br>
                ISH VAQTI: 09:00 - 23:00🕙 <br>
                TELEFON: +998(90)0474444📞<br>
                TELEFON: +998(90)0474747📞<br>
                TRLEGRAM KANAL: dilmuss_uz <br>
                AYOLLAR UCHUN🧕🏻<br>
                <a href="https://t.me/dilmuss_uzz" class="telegram-link">DILMUSS Telegram sahifasi</a></h3>
            
        </div>
    </div>
</body>
</html>